/* ***************************
width
*************************** */

/*
px
--------------------------- */
@for $i from 0 through 180 {
  body .u-w#{$i * 5} {
    @if $i==0 {
      width: ($i * 5);
    }

    @else {
      width: ($i * 5) + px;
    }
  }
}

/*
%
--------------------------- */
@for $i from 0 through 140 {
  body .u-w#{$i * 5}p {
    @if $i == 0 {
      width: ($i * 5%);
    } @else {
      width: ($i * 5%);
    }
  }
}