@charset "UTF-8";
/* ***************************
reset
*************************** */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

sup,
sub {
  line-height: 100%;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

/* ***************************
html, body
*************************** */
html {
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background: #fff;
  vertical-align: baseline;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  font-size: 87.5%;
  line-height: 186%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #222;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@media (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-base {
  margin: 0;
  padding: 0;
}

/* ***************************
word break
*************************** */
.wb-ba {
  word-break: break-all;
}

.wb-bw {
  word-break: break-word;
  word-wrap: break-word;
}

/* ***************************
a
*************************** */
a {
  color: #104dbc;
  text-decoration: underline;
}
a:visited {
  color: #800080;
}
a:hover {
  color: #3e74d8;
}
a:hover:before {
  text-decoration: none;
}

/* ***************************
img
*************************** */
img {
  font-size: 0%;
  line-height: 0;
  vertical-align: top;
}
@media (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ***************************
mark, caution
*************************** */
strong,
b {
  font-weight: bold;
}

em {
  color: #d85e29;
}

mark {
  color: #ff0000;
}

/* ***************************
headding
*************************** */
/* h1 */
h1 {
  font-size: 235.71429%;
  line-height: 134%;
  font-weight: bold;
}
@media (max-width: 767px) {
  h1 {
    font-size: 164.28571%;
    line-height: 131%;
  }
}

/* h2 */
h2 {
  margin-bottom: 25px;
  font-size: 185.71429%;
  line-height: 116%;
  font-weight: bold;
}
@media (max-width: 767px) {
  h2 {
    font-size: 150%;
    line-height: 134%;
  }
}

/* h3 */
h3 {
  margin-bottom: 5px;
  font-size: 114.28571%;
  line-height: 125%;
  font-weight: bold;
}
@media (max-width: 767px) {
  h3 {
    font-size: 128.57143%;
    line-height: 150%;
  }
}

/* h4 */
h4 {
  margin-bottom: 12px;
  font-size: 100%;
  line-height: 129%;
  font-weight: bold;
}
@media (max-width: 767px) {
  h4 {
    font-size: 114.28571%;
    line-height: 150%;
  }
}

/* h5 */
h5 {
  margin-bottom: 10px;
  font-size: 100%;
  line-height: 129%;
  font-weight: bold;
}
@media (max-width: 767px) {
  h5 {
    font-size: 100%;
    line-height: 150%;
  }
}

/* ***************************
list
*************************** */
/*
ul, ol
--------------------------- */
* + ul {
  margin-top: 14px;
}

h2 + ul,
h3 + ul,
h4 + ul {
  margin-top: 0;
}

ul li {
  position: relative;
  padding-left: 15px;
}

ul li ul,
ul li ol,
ul li + li {
  margin-top: 7px;
}

ul li:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 6px;
  height: 6px;
  background: #292929;
  border-radius: 50%;
}

ul li ul li:before {
  background: #999999;
}

* + ol {
  margin-top: 14px;
}

h2 + ol,
h3 + ol,
h4 + ol {
  margin-top: 0;
}

ol {
  counter-reset: count-number;
}

ol li {
  position: relative;
  padding-left: 1.8em;
  counter-increment: count-number;
}

ol li ul,
ol li ol,
ol li + li {
  margin-top: 7px;
}

ol li:before {
  content: counter(count-number) ".";
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background: none;
}

ol li ol {
  counter-reset: cnt;
}

ol li ol li {
  padding-left: 2em;
  counter-increment: cnt;
}

ol li ol li:before {
  left: -8px;
  content: "（" counter(cnt) "）";
}

ol ol,
ol ul {
  counter-reset: count-number;
}

ol ul li {
  position: relative;
  padding-left: 15px;
}

ol ul li ul,
ol ul li ol,
ol ul li + li {
  margin-top: 7px;
}

ol ul li:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 6px;
  height: 6px;
  background: #666666;
  border-radius: 50%;
}

/*
dl
--------------------------- */
dl {
  margin-bottom: 0;
}

dt,
dd {
  margin-bottom: 0;
}

/* ***************************
table
*************************** */
* + table {
  margin-top: 40px;
}

h2 + table {
  margin-top: 25px;
}

h3 + table,
h4 + table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px dotted #808080;
  border-left: 1px dotted #808080;
}

th,
td {
  padding: 12px 13px 11px;
  border-bottom: 1px dotted #808080;
  border-right: 1px dotted #808080;
}

th {
  text-align: center;
  background: #d9d9d9;
  font-weight: bold;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 100%;
  line-height: 100%;
}

/* ***************************
web fonts
*************************** */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?trg8uk");
  src: url("fonts/icomoon.eot?trg8uk#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?trg8uk") format("truetype"), url("fonts/icomoon.woff?trg8uk") format("woff"), url("fonts/icomoon.svg?trg8uk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ***************************
icon
*************************** */
.icon {
  font-family: 'icomoon';
  display: inline-block;
  color: #333;
}

.icon-name:before {
  content: "\e91c";
  color: #222;
}

.icon-arrow-right {
  width: 8px;
  height: 18px;
  stroke: #cbcbcb;
}

.icon-down {
  width: 19px;
  height: 21px;
  fill: #cbcbcb;
}

.icon-up {
  width: 19px;
  height: 21px;
  fill: #cbcbcb;
}

/* ***************************
align
*************************** */
.u-setCenter {
  text-align: center;
}

.u-setLeft {
  text-align: left;
}

.u-setRight {
  text-align: right;
}

/* ***************************
margin
*************************** */
/*
margin top
--------------------------- */
body .u-mt0 {
  margin-top: 0;
}

body .u-mt5 {
  margin-top: 5px;
}

body .u-mt10 {
  margin-top: 10px;
}

body .u-mt15 {
  margin-top: 15px;
}

body .u-mt20 {
  margin-top: 20px;
}

body .u-mt25 {
  margin-top: 25px;
}

body .u-mt30 {
  margin-top: 30px;
}

body .u-mt35 {
  margin-top: 35px;
}

body .u-mt40 {
  margin-top: 40px;
}

body .u-mt45 {
  margin-top: 45px;
}

body .u-mt50 {
  margin-top: 50px;
}

body .u-mt55 {
  margin-top: 55px;
}

body .u-mt60 {
  margin-top: 60px;
}

body .u-mt65 {
  margin-top: 65px;
}

body .u-mt70 {
  margin-top: 70px;
}

body .u-mt75 {
  margin-top: 75px;
}

body .u-mt80 {
  margin-top: 80px;
}

body .u-mt85 {
  margin-top: 85px;
}

body .u-mt90 {
  margin-top: 90px;
}

body .u-mt95 {
  margin-top: 95px;
}

body .u-mt100 {
  margin-top: 100px;
}

/*
margin bottom
--------------------------- */
body .u-mb0 {
  margin-bottom: 0;
}

body .u-mb5 {
  margin-bottom: 5px;
}

body .u-mb10 {
  margin-bottom: 10px;
}

body .u-mb15 {
  margin-bottom: 15px;
}

body .u-mb20 {
  margin-bottom: 20px;
}

body .u-mb25 {
  margin-bottom: 25px;
}

body .u-mb30 {
  margin-bottom: 30px;
}

body .u-mb35 {
  margin-bottom: 35px;
}

body .u-mb40 {
  margin-bottom: 40px;
}

body .u-mb45 {
  margin-bottom: 45px;
}

body .u-mb50 {
  margin-bottom: 50px;
}

body .u-mb55 {
  margin-bottom: 55px;
}

body .u-mb60 {
  margin-bottom: 60px;
}

body .u-mb65 {
  margin-bottom: 65px;
}

body .u-mb70 {
  margin-bottom: 70px;
}

body .u-mb75 {
  margin-bottom: 75px;
}

body .u-mb80 {
  margin-bottom: 80px;
}

body .u-mb85 {
  margin-bottom: 85px;
}

body .u-mb90 {
  margin-bottom: 90px;
}

body .u-mb95 {
  margin-bottom: 95px;
}

body .u-mb100 {
  margin-bottom: 100px;
}

/*
margin right
--------------------------- */
body .u-mr0 {
  margin-right: 0;
}

body .u-mr5 {
  margin-right: 5px;
}

body .u-mr10 {
  margin-right: 10px;
}

body .u-mr15 {
  margin-right: 15px;
}

body .u-mr20 {
  margin-right: 20px;
}

body .u-mr25 {
  margin-right: 25px;
}

body .u-mr30 {
  margin-right: 30px;
}

body .u-mr35 {
  margin-right: 35px;
}

body .u-mr40 {
  margin-right: 40px;
}

body .u-mr45 {
  margin-right: 45px;
}

body .u-mr50 {
  margin-right: 50px;
}

body .u-mr55 {
  margin-right: 55px;
}

body .u-mr60 {
  margin-right: 60px;
}

body .u-mr65 {
  margin-right: 65px;
}

body .u-mr70 {
  margin-right: 70px;
}

body .u-mr75 {
  margin-right: 75px;
}

body .u-mr80 {
  margin-right: 80px;
}

body .u-mr85 {
  margin-right: 85px;
}

body .u-mr90 {
  margin-right: 90px;
}

body .u-mr95 {
  margin-right: 95px;
}

body .u-mr100 {
  margin-right: 100px;
}

/*
margin left
--------------------------- */
body .u-ml0 {
  margin-left: 0;
}

body .u-ml5 {
  margin-left: 5px;
}

body .u-ml10 {
  margin-left: 10px;
}

body .u-ml15 {
  margin-left: 15px;
}

body .u-ml20 {
  margin-left: 20px;
}

body .u-ml25 {
  margin-left: 25px;
}

body .u-ml30 {
  margin-left: 30px;
}

body .u-ml35 {
  margin-left: 35px;
}

body .u-ml40 {
  margin-left: 40px;
}

body .u-ml45 {
  margin-left: 45px;
}

body .u-ml50 {
  margin-left: 50px;
}

body .u-ml55 {
  margin-left: 55px;
}

body .u-ml60 {
  margin-left: 60px;
}

body .u-ml65 {
  margin-left: 65px;
}

body .u-ml70 {
  margin-left: 70px;
}

body .u-ml75 {
  margin-left: 75px;
}

body .u-ml80 {
  margin-left: 80px;
}

body .u-ml85 {
  margin-left: 85px;
}

body .u-ml90 {
  margin-left: 90px;
}

body .u-ml95 {
  margin-left: 95px;
}

body .u-ml100 {
  margin-left: 100px;
}

/* ***************************
padding
*************************** */
/*
padding top
--------------------------- */
body .u-pt0 {
  padding-top: 0;
}

body .u-pt5 {
  padding-top: 5px;
}

body .u-pt10 {
  padding-top: 10px;
}

body .u-pt15 {
  padding-top: 15px;
}

body .u-pt20 {
  padding-top: 20px;
}

body .u-pt25 {
  padding-top: 25px;
}

body .u-pt30 {
  padding-top: 30px;
}

body .u-pt35 {
  padding-top: 35px;
}

body .u-pt40 {
  padding-top: 40px;
}

body .u-pt45 {
  padding-top: 45px;
}

body .u-pt50 {
  padding-top: 50px;
}

body .u-pt55 {
  padding-top: 55px;
}

body .u-pt60 {
  padding-top: 60px;
}

body .u-pt65 {
  padding-top: 65px;
}

body .u-pt70 {
  padding-top: 70px;
}

body .u-pt75 {
  padding-top: 75px;
}

body .u-pt80 {
  padding-top: 80px;
}

body .u-pt85 {
  padding-top: 85px;
}

body .u-pt90 {
  padding-top: 90px;
}

body .u-pt95 {
  padding-top: 95px;
}

body .u-pt100 {
  padding-top: 100px;
}

/*
padding bottom
--------------------------- */
body .u-pb0 {
  padding-bottom: 0;
}

body .u-pb5 {
  padding-bottom: 5px;
}

body .u-pb10 {
  padding-bottom: 10px;
}

body .u-pb15 {
  padding-bottom: 15px;
}

body .u-pb20 {
  padding-bottom: 20px;
}

body .u-pb25 {
  padding-bottom: 25px;
}

body .u-pb30 {
  padding-bottom: 30px;
}

body .u-pb35 {
  padding-bottom: 35px;
}

body .u-pb40 {
  padding-bottom: 40px;
}

body .u-pb45 {
  padding-bottom: 45px;
}

body .u-pb50 {
  padding-bottom: 50px;
}

body .u-pb55 {
  padding-bottom: 55px;
}

body .u-pb60 {
  padding-bottom: 60px;
}

body .u-pb65 {
  padding-bottom: 65px;
}

body .u-pb70 {
  padding-bottom: 70px;
}

body .u-pb75 {
  padding-bottom: 75px;
}

body .u-pb80 {
  padding-bottom: 80px;
}

body .u-pb85 {
  padding-bottom: 85px;
}

body .u-pb90 {
  padding-bottom: 90px;
}

body .u-pb95 {
  padding-bottom: 95px;
}

body .u-pb100 {
  padding-bottom: 100px;
}

/*
padding right
--------------------------- */
body .u-pr0 {
  padding-right: 0;
}

body .u-pr5 {
  padding-right: 5px;
}

body .u-pr10 {
  padding-right: 10px;
}

body .u-pr15 {
  padding-right: 15px;
}

body .u-pr20 {
  padding-right: 20px;
}

body .u-pr25 {
  padding-right: 25px;
}

body .u-pr30 {
  padding-right: 30px;
}

body .u-pr35 {
  padding-right: 35px;
}

body .u-pr40 {
  padding-right: 40px;
}

body .u-pr45 {
  padding-right: 45px;
}

body .u-pr50 {
  padding-right: 50px;
}

body .u-pr55 {
  padding-right: 55px;
}

body .u-pr60 {
  padding-right: 60px;
}

body .u-pr65 {
  padding-right: 65px;
}

body .u-pr70 {
  padding-right: 70px;
}

body .u-pr75 {
  padding-right: 75px;
}

body .u-pr80 {
  padding-right: 80px;
}

body .u-pr85 {
  padding-right: 85px;
}

body .u-pr90 {
  padding-right: 90px;
}

body .u-pr95 {
  padding-right: 95px;
}

body .u-pr100 {
  padding-right: 100px;
}

/*
padding left
--------------------------- */
body .u-pl0 {
  padding-left: 0;
}

body .u-pl5 {
  padding-left: 5px;
}

body .u-pl10 {
  padding-left: 10px;
}

body .u-pl15 {
  padding-left: 15px;
}

body .u-pl20 {
  padding-left: 20px;
}

body .u-pl25 {
  padding-left: 25px;
}

body .u-pl30 {
  padding-left: 30px;
}

body .u-pl35 {
  padding-left: 35px;
}

body .u-pl40 {
  padding-left: 40px;
}

body .u-pl45 {
  padding-left: 45px;
}

body .u-pl50 {
  padding-left: 50px;
}

body .u-pl55 {
  padding-left: 55px;
}

body .u-pl60 {
  padding-left: 60px;
}

body .u-pl65 {
  padding-left: 65px;
}

body .u-pl70 {
  padding-left: 70px;
}

body .u-pl75 {
  padding-left: 75px;
}

body .u-pl80 {
  padding-left: 80px;
}

body .u-pl85 {
  padding-left: 85px;
}

body .u-pl90 {
  padding-left: 90px;
}

body .u-pl95 {
  padding-left: 95px;
}

body .u-pl100 {
  padding-left: 100px;
}

/* ***************************
position
*************************** */
/*
top
--------------------------- */
body .u-pot0 {
  top: 0 !important;
}

body .u-pot5 {
  top: 5px !important;
}

body .u-pot10 {
  top: 10px !important;
}

body .u-pot15 {
  top: 15px !important;
}

body .u-pot20 {
  top: 20px !important;
}

body .u-pot25 {
  top: 25px !important;
}

body .u-pot30 {
  top: 30px !important;
}

body .u-pot35 {
  top: 35px !important;
}

body .u-pot40 {
  top: 40px !important;
}

body .u-pot45 {
  top: 45px !important;
}

body .u-pot50 {
  top: 50px !important;
}

body .u-pot55 {
  top: 55px !important;
}

body .u-pot60 {
  top: 60px !important;
}

body .u-pot65 {
  top: 65px !important;
}

body .u-pot70 {
  top: 70px !important;
}

body .u-pot75 {
  top: 75px !important;
}

body .u-pot80 {
  top: 80px !important;
}

body .u-pot85 {
  top: 85px !important;
}

body .u-pot90 {
  top: 90px !important;
}

body .u-pot95 {
  top: 95px !important;
}

body .u-pot100 {
  top: 100px !important;
}

body .u-pot105 {
  top: 105px !important;
}

body .u-pot110 {
  top: 110px !important;
}

body .u-pot115 {
  top: 115px !important;
}

body .u-pot120 {
  top: 120px !important;
}

body .u-pot125 {
  top: 125px !important;
}

body .u-pot130 {
  top: 130px !important;
}

body .u-pot135 {
  top: 135px !important;
}

body .u-pot140 {
  top: 140px !important;
}

body .u-pot145 {
  top: 145px !important;
}

body .u-pot150 {
  top: 150px !important;
}

body .u-pot155 {
  top: 155px !important;
}

body .u-pot160 {
  top: 160px !important;
}

body .u-pot165 {
  top: 165px !important;
}

body .u-pot170 {
  top: 170px !important;
}

body .u-pot175 {
  top: 175px !important;
}

body .u-pot180 {
  top: 180px !important;
}

body .u-pot185 {
  top: 185px !important;
}

body .u-pot190 {
  top: 190px !important;
}

body .u-pot195 {
  top: 195px !important;
}

body .u-pot200 {
  top: 200px !important;
}

body .u-pot205 {
  top: 205px !important;
}

body .u-pot210 {
  top: 210px !important;
}

body .u-pot215 {
  top: 215px !important;
}

body .u-pot220 {
  top: 220px !important;
}

body .u-pot225 {
  top: 225px !important;
}

body .u-pot230 {
  top: 230px !important;
}

body .u-pot235 {
  top: 235px !important;
}

body .u-pot240 {
  top: 240px !important;
}

body .u-pot245 {
  top: 245px !important;
}

body .u-pot250 {
  top: 250px !important;
}

body .u-pot255 {
  top: 255px !important;
}

body .u-pot260 {
  top: 260px !important;
}

body .u-pot265 {
  top: 265px !important;
}

body .u-pot270 {
  top: 270px !important;
}

body .u-pot275 {
  top: 275px !important;
}

body .u-pot280 {
  top: 280px !important;
}

body .u-pot285 {
  top: 285px !important;
}

body .u-pot290 {
  top: 290px !important;
}

body .u-pot295 {
  top: 295px !important;
}

body .u-pot300 {
  top: 300px !important;
}

body .u-pot305 {
  top: 305px !important;
}

body .u-pot310 {
  top: 310px !important;
}

body .u-pot315 {
  top: 315px !important;
}

body .u-pot320 {
  top: 320px !important;
}

body .u-pot325 {
  top: 325px !important;
}

body .u-pot330 {
  top: 330px !important;
}

body .u-pot335 {
  top: 335px !important;
}

body .u-pot340 {
  top: 340px !important;
}

body .u-pot345 {
  top: 345px !important;
}

body .u-pot350 {
  top: 350px !important;
}

body .u-pot355 {
  top: 355px !important;
}

body .u-pot360 {
  top: 360px !important;
}

body .u-pot365 {
  top: 365px !important;
}

body .u-pot370 {
  top: 370px !important;
}

body .u-pot375 {
  top: 375px !important;
}

body .u-pot380 {
  top: 380px !important;
}

body .u-pot385 {
  top: 385px !important;
}

body .u-pot390 {
  top: 390px !important;
}

body .u-pot395 {
  top: 395px !important;
}

body .u-pot400 {
  top: 400px !important;
}

body .u-pot405 {
  top: 405px !important;
}

body .u-pot410 {
  top: 410px !important;
}

body .u-pot415 {
  top: 415px !important;
}

body .u-pot420 {
  top: 420px !important;
}

body .u-pot425 {
  top: 425px !important;
}

body .u-pot430 {
  top: 430px !important;
}

body .u-pot435 {
  top: 435px !important;
}

body .u-pot440 {
  top: 440px !important;
}

body .u-pot445 {
  top: 445px !important;
}

body .u-pot450 {
  top: 450px !important;
}

body .u-pot455 {
  top: 455px !important;
}

body .u-pot460 {
  top: 460px !important;
}

body .u-pot465 {
  top: 465px !important;
}

body .u-pot470 {
  top: 470px !important;
}

body .u-pot475 {
  top: 475px !important;
}

body .u-pot480 {
  top: 480px !important;
}

body .u-pot485 {
  top: 485px !important;
}

body .u-pot490 {
  top: 490px !important;
}

body .u-pot495 {
  top: 495px !important;
}

body .u-pot500 {
  top: 500px !important;
}

/*
bottom
--------------------------- */
body .u-pob0 {
  bottom: 0 !important;
}

body .u-pob5 {
  bottom: 5px !important;
}

body .u-pob10 {
  bottom: 10px !important;
}

body .u-pob15 {
  bottom: 15px !important;
}

body .u-pob20 {
  bottom: 20px !important;
}

body .u-pob25 {
  bottom: 25px !important;
}

body .u-pob30 {
  bottom: 30px !important;
}

body .u-pob35 {
  bottom: 35px !important;
}

body .u-pob40 {
  bottom: 40px !important;
}

body .u-pob45 {
  bottom: 45px !important;
}

body .u-pob50 {
  bottom: 50px !important;
}

body .u-pob55 {
  bottom: 55px !important;
}

body .u-pob60 {
  bottom: 60px !important;
}

body .u-pob65 {
  bottom: 65px !important;
}

body .u-pob70 {
  bottom: 70px !important;
}

body .u-pob75 {
  bottom: 75px !important;
}

body .u-pob80 {
  bottom: 80px !important;
}

body .u-pob85 {
  bottom: 85px !important;
}

body .u-pob90 {
  bottom: 90px !important;
}

body .u-pob95 {
  bottom: 95px !important;
}

body .u-pob100 {
  bottom: 100px !important;
}

body .u-pob105 {
  bottom: 105px !important;
}

body .u-pob110 {
  bottom: 110px !important;
}

body .u-pob115 {
  bottom: 115px !important;
}

body .u-pob120 {
  bottom: 120px !important;
}

body .u-pob125 {
  bottom: 125px !important;
}

body .u-pob130 {
  bottom: 130px !important;
}

body .u-pob135 {
  bottom: 135px !important;
}

body .u-pob140 {
  bottom: 140px !important;
}

body .u-pob145 {
  bottom: 145px !important;
}

body .u-pob150 {
  bottom: 150px !important;
}

body .u-pob155 {
  bottom: 155px !important;
}

body .u-pob160 {
  bottom: 160px !important;
}

body .u-pob165 {
  bottom: 165px !important;
}

body .u-pob170 {
  bottom: 170px !important;
}

body .u-pob175 {
  bottom: 175px !important;
}

body .u-pob180 {
  bottom: 180px !important;
}

body .u-pob185 {
  bottom: 185px !important;
}

body .u-pob190 {
  bottom: 190px !important;
}

body .u-pob195 {
  bottom: 195px !important;
}

body .u-pob200 {
  bottom: 200px !important;
}

body .u-pob205 {
  bottom: 205px !important;
}

body .u-pob210 {
  bottom: 210px !important;
}

body .u-pob215 {
  bottom: 215px !important;
}

body .u-pob220 {
  bottom: 220px !important;
}

body .u-pob225 {
  bottom: 225px !important;
}

body .u-pob230 {
  bottom: 230px !important;
}

body .u-pob235 {
  bottom: 235px !important;
}

body .u-pob240 {
  bottom: 240px !important;
}

body .u-pob245 {
  bottom: 245px !important;
}

body .u-pob250 {
  bottom: 250px !important;
}

body .u-pob255 {
  bottom: 255px !important;
}

body .u-pob260 {
  bottom: 260px !important;
}

body .u-pob265 {
  bottom: 265px !important;
}

body .u-pob270 {
  bottom: 270px !important;
}

body .u-pob275 {
  bottom: 275px !important;
}

body .u-pob280 {
  bottom: 280px !important;
}

body .u-pob285 {
  bottom: 285px !important;
}

body .u-pob290 {
  bottom: 290px !important;
}

body .u-pob295 {
  bottom: 295px !important;
}

body .u-pob300 {
  bottom: 300px !important;
}

body .u-pob305 {
  bottom: 305px !important;
}

body .u-pob310 {
  bottom: 310px !important;
}

body .u-pob315 {
  bottom: 315px !important;
}

body .u-pob320 {
  bottom: 320px !important;
}

body .u-pob325 {
  bottom: 325px !important;
}

body .u-pob330 {
  bottom: 330px !important;
}

body .u-pob335 {
  bottom: 335px !important;
}

body .u-pob340 {
  bottom: 340px !important;
}

body .u-pob345 {
  bottom: 345px !important;
}

body .u-pob350 {
  bottom: 350px !important;
}

body .u-pob355 {
  bottom: 355px !important;
}

body .u-pob360 {
  bottom: 360px !important;
}

body .u-pob365 {
  bottom: 365px !important;
}

body .u-pob370 {
  bottom: 370px !important;
}

body .u-pob375 {
  bottom: 375px !important;
}

body .u-pob380 {
  bottom: 380px !important;
}

body .u-pob385 {
  bottom: 385px !important;
}

body .u-pob390 {
  bottom: 390px !important;
}

body .u-pob395 {
  bottom: 395px !important;
}

body .u-pob400 {
  bottom: 400px !important;
}

body .u-pob405 {
  bottom: 405px !important;
}

body .u-pob410 {
  bottom: 410px !important;
}

body .u-pob415 {
  bottom: 415px !important;
}

body .u-pob420 {
  bottom: 420px !important;
}

body .u-pob425 {
  bottom: 425px !important;
}

body .u-pob430 {
  bottom: 430px !important;
}

body .u-pob435 {
  bottom: 435px !important;
}

body .u-pob440 {
  bottom: 440px !important;
}

body .u-pob445 {
  bottom: 445px !important;
}

body .u-pob450 {
  bottom: 450px !important;
}

body .u-pob455 {
  bottom: 455px !important;
}

body .u-pob460 {
  bottom: 460px !important;
}

body .u-pob465 {
  bottom: 465px !important;
}

body .u-pob470 {
  bottom: 470px !important;
}

body .u-pob475 {
  bottom: 475px !important;
}

body .u-pob480 {
  bottom: 480px !important;
}

body .u-pob485 {
  bottom: 485px !important;
}

body .u-pob490 {
  bottom: 490px !important;
}

body .u-pob495 {
  bottom: 495px !important;
}

body .u-pob500 {
  bottom: 500px !important;
}

/*
right
--------------------------- */
body .u-por0 {
  right: 0 !important;
}

body .u-por5 {
  right: 5px !important;
}

body .u-por10 {
  right: 10px !important;
}

body .u-por15 {
  right: 15px !important;
}

body .u-por20 {
  right: 20px !important;
}

body .u-por25 {
  right: 25px !important;
}

body .u-por30 {
  right: 30px !important;
}

body .u-por35 {
  right: 35px !important;
}

body .u-por40 {
  right: 40px !important;
}

body .u-por45 {
  right: 45px !important;
}

body .u-por50 {
  right: 50px !important;
}

body .u-por55 {
  right: 55px !important;
}

body .u-por60 {
  right: 60px !important;
}

body .u-por65 {
  right: 65px !important;
}

body .u-por70 {
  right: 70px !important;
}

body .u-por75 {
  right: 75px !important;
}

body .u-por80 {
  right: 80px !important;
}

body .u-por85 {
  right: 85px !important;
}

body .u-por90 {
  right: 90px !important;
}

body .u-por95 {
  right: 95px !important;
}

body .u-por100 {
  right: 100px !important;
}

body .u-por105 {
  right: 105px !important;
}

body .u-por110 {
  right: 110px !important;
}

body .u-por115 {
  right: 115px !important;
}

body .u-por120 {
  right: 120px !important;
}

body .u-por125 {
  right: 125px !important;
}

body .u-por130 {
  right: 130px !important;
}

body .u-por135 {
  right: 135px !important;
}

body .u-por140 {
  right: 140px !important;
}

body .u-por145 {
  right: 145px !important;
}

body .u-por150 {
  right: 150px !important;
}

body .u-por155 {
  right: 155px !important;
}

body .u-por160 {
  right: 160px !important;
}

body .u-por165 {
  right: 165px !important;
}

body .u-por170 {
  right: 170px !important;
}

body .u-por175 {
  right: 175px !important;
}

body .u-por180 {
  right: 180px !important;
}

body .u-por185 {
  right: 185px !important;
}

body .u-por190 {
  right: 190px !important;
}

body .u-por195 {
  right: 195px !important;
}

body .u-por200 {
  right: 200px !important;
}

body .u-por205 {
  right: 205px !important;
}

body .u-por210 {
  right: 210px !important;
}

body .u-por215 {
  right: 215px !important;
}

body .u-por220 {
  right: 220px !important;
}

body .u-por225 {
  right: 225px !important;
}

body .u-por230 {
  right: 230px !important;
}

body .u-por235 {
  right: 235px !important;
}

body .u-por240 {
  right: 240px !important;
}

body .u-por245 {
  right: 245px !important;
}

body .u-por250 {
  right: 250px !important;
}

body .u-por255 {
  right: 255px !important;
}

body .u-por260 {
  right: 260px !important;
}

body .u-por265 {
  right: 265px !important;
}

body .u-por270 {
  right: 270px !important;
}

body .u-por275 {
  right: 275px !important;
}

body .u-por280 {
  right: 280px !important;
}

body .u-por285 {
  right: 285px !important;
}

body .u-por290 {
  right: 290px !important;
}

body .u-por295 {
  right: 295px !important;
}

body .u-por300 {
  right: 300px !important;
}

body .u-por305 {
  right: 305px !important;
}

body .u-por310 {
  right: 310px !important;
}

body .u-por315 {
  right: 315px !important;
}

body .u-por320 {
  right: 320px !important;
}

body .u-por325 {
  right: 325px !important;
}

body .u-por330 {
  right: 330px !important;
}

body .u-por335 {
  right: 335px !important;
}

body .u-por340 {
  right: 340px !important;
}

body .u-por345 {
  right: 345px !important;
}

body .u-por350 {
  right: 350px !important;
}

body .u-por355 {
  right: 355px !important;
}

body .u-por360 {
  right: 360px !important;
}

body .u-por365 {
  right: 365px !important;
}

body .u-por370 {
  right: 370px !important;
}

body .u-por375 {
  right: 375px !important;
}

body .u-por380 {
  right: 380px !important;
}

body .u-por385 {
  right: 385px !important;
}

body .u-por390 {
  right: 390px !important;
}

body .u-por395 {
  right: 395px !important;
}

body .u-por400 {
  right: 400px !important;
}

body .u-por405 {
  right: 405px !important;
}

body .u-por410 {
  right: 410px !important;
}

body .u-por415 {
  right: 415px !important;
}

body .u-por420 {
  right: 420px !important;
}

body .u-por425 {
  right: 425px !important;
}

body .u-por430 {
  right: 430px !important;
}

body .u-por435 {
  right: 435px !important;
}

body .u-por440 {
  right: 440px !important;
}

body .u-por445 {
  right: 445px !important;
}

body .u-por450 {
  right: 450px !important;
}

body .u-por455 {
  right: 455px !important;
}

body .u-por460 {
  right: 460px !important;
}

body .u-por465 {
  right: 465px !important;
}

body .u-por470 {
  right: 470px !important;
}

body .u-por475 {
  right: 475px !important;
}

body .u-por480 {
  right: 480px !important;
}

body .u-por485 {
  right: 485px !important;
}

body .u-por490 {
  right: 490px !important;
}

body .u-por495 {
  right: 495px !important;
}

body .u-por500 {
  right: 500px !important;
}

/*
left
--------------------------- */
body .u-pol0 {
  left: 0 !important;
}

body .u-pol5 {
  left: 5px !important;
}

body .u-pol10 {
  left: 10px !important;
}

body .u-pol15 {
  left: 15px !important;
}

body .u-pol20 {
  left: 20px !important;
}

body .u-pol25 {
  left: 25px !important;
}

body .u-pol30 {
  left: 30px !important;
}

body .u-pol35 {
  left: 35px !important;
}

body .u-pol40 {
  left: 40px !important;
}

body .u-pol45 {
  left: 45px !important;
}

body .u-pol50 {
  left: 50px !important;
}

body .u-pol55 {
  left: 55px !important;
}

body .u-pol60 {
  left: 60px !important;
}

body .u-pol65 {
  left: 65px !important;
}

body .u-pol70 {
  left: 70px !important;
}

body .u-pol75 {
  left: 75px !important;
}

body .u-pol80 {
  left: 80px !important;
}

body .u-pol85 {
  left: 85px !important;
}

body .u-pol90 {
  left: 90px !important;
}

body .u-pol95 {
  left: 95px !important;
}

body .u-pol100 {
  left: 100px !important;
}

body .u-pol105 {
  left: 105px !important;
}

body .u-pol110 {
  left: 110px !important;
}

body .u-pol115 {
  left: 115px !important;
}

body .u-pol120 {
  left: 120px !important;
}

body .u-pol125 {
  left: 125px !important;
}

body .u-pol130 {
  left: 130px !important;
}

body .u-pol135 {
  left: 135px !important;
}

body .u-pol140 {
  left: 140px !important;
}

body .u-pol145 {
  left: 145px !important;
}

body .u-pol150 {
  left: 150px !important;
}

body .u-pol155 {
  left: 155px !important;
}

body .u-pol160 {
  left: 160px !important;
}

body .u-pol165 {
  left: 165px !important;
}

body .u-pol170 {
  left: 170px !important;
}

body .u-pol175 {
  left: 175px !important;
}

body .u-pol180 {
  left: 180px !important;
}

body .u-pol185 {
  left: 185px !important;
}

body .u-pol190 {
  left: 190px !important;
}

body .u-pol195 {
  left: 195px !important;
}

body .u-pol200 {
  left: 200px !important;
}

body .u-pol205 {
  left: 205px !important;
}

body .u-pol210 {
  left: 210px !important;
}

body .u-pol215 {
  left: 215px !important;
}

body .u-pol220 {
  left: 220px !important;
}

body .u-pol225 {
  left: 225px !important;
}

body .u-pol230 {
  left: 230px !important;
}

body .u-pol235 {
  left: 235px !important;
}

body .u-pol240 {
  left: 240px !important;
}

body .u-pol245 {
  left: 245px !important;
}

body .u-pol250 {
  left: 250px !important;
}

body .u-pol255 {
  left: 255px !important;
}

body .u-pol260 {
  left: 260px !important;
}

body .u-pol265 {
  left: 265px !important;
}

body .u-pol270 {
  left: 270px !important;
}

body .u-pol275 {
  left: 275px !important;
}

body .u-pol280 {
  left: 280px !important;
}

body .u-pol285 {
  left: 285px !important;
}

body .u-pol290 {
  left: 290px !important;
}

body .u-pol295 {
  left: 295px !important;
}

body .u-pol300 {
  left: 300px !important;
}

body .u-pol305 {
  left: 305px !important;
}

body .u-pol310 {
  left: 310px !important;
}

body .u-pol315 {
  left: 315px !important;
}

body .u-pol320 {
  left: 320px !important;
}

body .u-pol325 {
  left: 325px !important;
}

body .u-pol330 {
  left: 330px !important;
}

body .u-pol335 {
  left: 335px !important;
}

body .u-pol340 {
  left: 340px !important;
}

body .u-pol345 {
  left: 345px !important;
}

body .u-pol350 {
  left: 350px !important;
}

body .u-pol355 {
  left: 355px !important;
}

body .u-pol360 {
  left: 360px !important;
}

body .u-pol365 {
  left: 365px !important;
}

body .u-pol370 {
  left: 370px !important;
}

body .u-pol375 {
  left: 375px !important;
}

body .u-pol380 {
  left: 380px !important;
}

body .u-pol385 {
  left: 385px !important;
}

body .u-pol390 {
  left: 390px !important;
}

body .u-pol395 {
  left: 395px !important;
}

body .u-pol400 {
  left: 400px !important;
}

body .u-pol405 {
  left: 405px !important;
}

body .u-pol410 {
  left: 410px !important;
}

body .u-pol415 {
  left: 415px !important;
}

body .u-pol420 {
  left: 420px !important;
}

body .u-pol425 {
  left: 425px !important;
}

body .u-pol430 {
  left: 430px !important;
}

body .u-pol435 {
  left: 435px !important;
}

body .u-pol440 {
  left: 440px !important;
}

body .u-pol445 {
  left: 445px !important;
}

body .u-pol450 {
  left: 450px !important;
}

body .u-pol455 {
  left: 455px !important;
}

body .u-pol460 {
  left: 460px !important;
}

body .u-pol465 {
  left: 465px !important;
}

body .u-pol470 {
  left: 470px !important;
}

body .u-pol475 {
  left: 475px !important;
}

body .u-pol480 {
  left: 480px !important;
}

body .u-pol485 {
  left: 485px !important;
}

body .u-pol490 {
  left: 490px !important;
}

body .u-pol495 {
  left: 495px !important;
}

body .u-pol500 {
  left: 500px !important;
}

/* ***************************
width
*************************** */
/*
px
--------------------------- */
body .u-w0 {
  width: 0;
}

body .u-w5 {
  width: 5px;
}

body .u-w10 {
  width: 10px;
}

body .u-w15 {
  width: 15px;
}

body .u-w20 {
  width: 20px;
}

body .u-w25 {
  width: 25px;
}

body .u-w30 {
  width: 30px;
}

body .u-w35 {
  width: 35px;
}

body .u-w40 {
  width: 40px;
}

body .u-w45 {
  width: 45px;
}

body .u-w50 {
  width: 50px;
}

body .u-w55 {
  width: 55px;
}

body .u-w60 {
  width: 60px;
}

body .u-w65 {
  width: 65px;
}

body .u-w70 {
  width: 70px;
}

body .u-w75 {
  width: 75px;
}

body .u-w80 {
  width: 80px;
}

body .u-w85 {
  width: 85px;
}

body .u-w90 {
  width: 90px;
}

body .u-w95 {
  width: 95px;
}

body .u-w100 {
  width: 100px;
}

body .u-w105 {
  width: 105px;
}

body .u-w110 {
  width: 110px;
}

body .u-w115 {
  width: 115px;
}

body .u-w120 {
  width: 120px;
}

body .u-w125 {
  width: 125px;
}

body .u-w130 {
  width: 130px;
}

body .u-w135 {
  width: 135px;
}

body .u-w140 {
  width: 140px;
}

body .u-w145 {
  width: 145px;
}

body .u-w150 {
  width: 150px;
}

body .u-w155 {
  width: 155px;
}

body .u-w160 {
  width: 160px;
}

body .u-w165 {
  width: 165px;
}

body .u-w170 {
  width: 170px;
}

body .u-w175 {
  width: 175px;
}

body .u-w180 {
  width: 180px;
}

body .u-w185 {
  width: 185px;
}

body .u-w190 {
  width: 190px;
}

body .u-w195 {
  width: 195px;
}

body .u-w200 {
  width: 200px;
}

body .u-w205 {
  width: 205px;
}

body .u-w210 {
  width: 210px;
}

body .u-w215 {
  width: 215px;
}

body .u-w220 {
  width: 220px;
}

body .u-w225 {
  width: 225px;
}

body .u-w230 {
  width: 230px;
}

body .u-w235 {
  width: 235px;
}

body .u-w240 {
  width: 240px;
}

body .u-w245 {
  width: 245px;
}

body .u-w250 {
  width: 250px;
}

body .u-w255 {
  width: 255px;
}

body .u-w260 {
  width: 260px;
}

body .u-w265 {
  width: 265px;
}

body .u-w270 {
  width: 270px;
}

body .u-w275 {
  width: 275px;
}

body .u-w280 {
  width: 280px;
}

body .u-w285 {
  width: 285px;
}

body .u-w290 {
  width: 290px;
}

body .u-w295 {
  width: 295px;
}

body .u-w300 {
  width: 300px;
}

body .u-w305 {
  width: 305px;
}

body .u-w310 {
  width: 310px;
}

body .u-w315 {
  width: 315px;
}

body .u-w320 {
  width: 320px;
}

body .u-w325 {
  width: 325px;
}

body .u-w330 {
  width: 330px;
}

body .u-w335 {
  width: 335px;
}

body .u-w340 {
  width: 340px;
}

body .u-w345 {
  width: 345px;
}

body .u-w350 {
  width: 350px;
}

body .u-w355 {
  width: 355px;
}

body .u-w360 {
  width: 360px;
}

body .u-w365 {
  width: 365px;
}

body .u-w370 {
  width: 370px;
}

body .u-w375 {
  width: 375px;
}

body .u-w380 {
  width: 380px;
}

body .u-w385 {
  width: 385px;
}

body .u-w390 {
  width: 390px;
}

body .u-w395 {
  width: 395px;
}

body .u-w400 {
  width: 400px;
}

body .u-w405 {
  width: 405px;
}

body .u-w410 {
  width: 410px;
}

body .u-w415 {
  width: 415px;
}

body .u-w420 {
  width: 420px;
}

body .u-w425 {
  width: 425px;
}

body .u-w430 {
  width: 430px;
}

body .u-w435 {
  width: 435px;
}

body .u-w440 {
  width: 440px;
}

body .u-w445 {
  width: 445px;
}

body .u-w450 {
  width: 450px;
}

body .u-w455 {
  width: 455px;
}

body .u-w460 {
  width: 460px;
}

body .u-w465 {
  width: 465px;
}

body .u-w470 {
  width: 470px;
}

body .u-w475 {
  width: 475px;
}

body .u-w480 {
  width: 480px;
}

body .u-w485 {
  width: 485px;
}

body .u-w490 {
  width: 490px;
}

body .u-w495 {
  width: 495px;
}

body .u-w500 {
  width: 500px;
}

body .u-w505 {
  width: 505px;
}

body .u-w510 {
  width: 510px;
}

body .u-w515 {
  width: 515px;
}

body .u-w520 {
  width: 520px;
}

body .u-w525 {
  width: 525px;
}

body .u-w530 {
  width: 530px;
}

body .u-w535 {
  width: 535px;
}

body .u-w540 {
  width: 540px;
}

body .u-w545 {
  width: 545px;
}

body .u-w550 {
  width: 550px;
}

body .u-w555 {
  width: 555px;
}

body .u-w560 {
  width: 560px;
}

body .u-w565 {
  width: 565px;
}

body .u-w570 {
  width: 570px;
}

body .u-w575 {
  width: 575px;
}

body .u-w580 {
  width: 580px;
}

body .u-w585 {
  width: 585px;
}

body .u-w590 {
  width: 590px;
}

body .u-w595 {
  width: 595px;
}

body .u-w600 {
  width: 600px;
}

body .u-w605 {
  width: 605px;
}

body .u-w610 {
  width: 610px;
}

body .u-w615 {
  width: 615px;
}

body .u-w620 {
  width: 620px;
}

body .u-w625 {
  width: 625px;
}

body .u-w630 {
  width: 630px;
}

body .u-w635 {
  width: 635px;
}

body .u-w640 {
  width: 640px;
}

body .u-w645 {
  width: 645px;
}

body .u-w650 {
  width: 650px;
}

body .u-w655 {
  width: 655px;
}

body .u-w660 {
  width: 660px;
}

body .u-w665 {
  width: 665px;
}

body .u-w670 {
  width: 670px;
}

body .u-w675 {
  width: 675px;
}

body .u-w680 {
  width: 680px;
}

body .u-w685 {
  width: 685px;
}

body .u-w690 {
  width: 690px;
}

body .u-w695 {
  width: 695px;
}

body .u-w700 {
  width: 700px;
}

body .u-w705 {
  width: 705px;
}

body .u-w710 {
  width: 710px;
}

body .u-w715 {
  width: 715px;
}

body .u-w720 {
  width: 720px;
}

body .u-w725 {
  width: 725px;
}

body .u-w730 {
  width: 730px;
}

body .u-w735 {
  width: 735px;
}

body .u-w740 {
  width: 740px;
}

body .u-w745 {
  width: 745px;
}

body .u-w750 {
  width: 750px;
}

body .u-w755 {
  width: 755px;
}

body .u-w760 {
  width: 760px;
}

body .u-w765 {
  width: 765px;
}

body .u-w770 {
  width: 770px;
}

body .u-w775 {
  width: 775px;
}

body .u-w780 {
  width: 780px;
}

body .u-w785 {
  width: 785px;
}

body .u-w790 {
  width: 790px;
}

body .u-w795 {
  width: 795px;
}

body .u-w800 {
  width: 800px;
}

body .u-w805 {
  width: 805px;
}

body .u-w810 {
  width: 810px;
}

body .u-w815 {
  width: 815px;
}

body .u-w820 {
  width: 820px;
}

body .u-w825 {
  width: 825px;
}

body .u-w830 {
  width: 830px;
}

body .u-w835 {
  width: 835px;
}

body .u-w840 {
  width: 840px;
}

body .u-w845 {
  width: 845px;
}

body .u-w850 {
  width: 850px;
}

body .u-w855 {
  width: 855px;
}

body .u-w860 {
  width: 860px;
}

body .u-w865 {
  width: 865px;
}

body .u-w870 {
  width: 870px;
}

body .u-w875 {
  width: 875px;
}

body .u-w880 {
  width: 880px;
}

body .u-w885 {
  width: 885px;
}

body .u-w890 {
  width: 890px;
}

body .u-w895 {
  width: 895px;
}

body .u-w900 {
  width: 900px;
}

/*
%
--------------------------- */
body .u-w0p {
  width: 0%;
}

body .u-w5p {
  width: 5%;
}

body .u-w10p {
  width: 10%;
}

body .u-w15p {
  width: 15%;
}

body .u-w20p {
  width: 20%;
}

body .u-w25p {
  width: 25%;
}

body .u-w30p {
  width: 30%;
}

body .u-w35p {
  width: 35%;
}

body .u-w40p {
  width: 40%;
}

body .u-w45p {
  width: 45%;
}

body .u-w50p {
  width: 50%;
}

body .u-w55p {
  width: 55%;
}

body .u-w60p {
  width: 60%;
}

body .u-w65p {
  width: 65%;
}

body .u-w70p {
  width: 70%;
}

body .u-w75p {
  width: 75%;
}

body .u-w80p {
  width: 80%;
}

body .u-w85p {
  width: 85%;
}

body .u-w90p {
  width: 90%;
}

body .u-w95p {
  width: 95%;
}

body .u-w100p {
  width: 100%;
}

body .u-w105p {
  width: 105%;
}

body .u-w110p {
  width: 110%;
}

body .u-w115p {
  width: 115%;
}

body .u-w120p {
  width: 120%;
}

body .u-w125p {
  width: 125%;
}

body .u-w130p {
  width: 130%;
}

body .u-w135p {
  width: 135%;
}

body .u-w140p {
  width: 140%;
}

body .u-w145p {
  width: 145%;
}

body .u-w150p {
  width: 150%;
}

body .u-w155p {
  width: 155%;
}

body .u-w160p {
  width: 160%;
}

body .u-w165p {
  width: 165%;
}

body .u-w170p {
  width: 170%;
}

body .u-w175p {
  width: 175%;
}

body .u-w180p {
  width: 180%;
}

body .u-w185p {
  width: 185%;
}

body .u-w190p {
  width: 190%;
}

body .u-w195p {
  width: 195%;
}

body .u-w200p {
  width: 200%;
}

body .u-w205p {
  width: 205%;
}

body .u-w210p {
  width: 210%;
}

body .u-w215p {
  width: 215%;
}

body .u-w220p {
  width: 220%;
}

body .u-w225p {
  width: 225%;
}

body .u-w230p {
  width: 230%;
}

body .u-w235p {
  width: 235%;
}

body .u-w240p {
  width: 240%;
}

body .u-w245p {
  width: 245%;
}

body .u-w250p {
  width: 250%;
}

body .u-w255p {
  width: 255%;
}

body .u-w260p {
  width: 260%;
}

body .u-w265p {
  width: 265%;
}

body .u-w270p {
  width: 270%;
}

body .u-w275p {
  width: 275%;
}

body .u-w280p {
  width: 280%;
}

body .u-w285p {
  width: 285%;
}

body .u-w290p {
  width: 290%;
}

body .u-w295p {
  width: 295%;
}

body .u-w300p {
  width: 300%;
}

body .u-w305p {
  width: 305%;
}

body .u-w310p {
  width: 310%;
}

body .u-w315p {
  width: 315%;
}

body .u-w320p {
  width: 320%;
}

body .u-w325p {
  width: 325%;
}

body .u-w330p {
  width: 330%;
}

body .u-w335p {
  width: 335%;
}

body .u-w340p {
  width: 340%;
}

body .u-w345p {
  width: 345%;
}

body .u-w350p {
  width: 350%;
}

body .u-w355p {
  width: 355%;
}

body .u-w360p {
  width: 360%;
}

body .u-w365p {
  width: 365%;
}

body .u-w370p {
  width: 370%;
}

body .u-w375p {
  width: 375%;
}

body .u-w380p {
  width: 380%;
}

body .u-w385p {
  width: 385%;
}

body .u-w390p {
  width: 390%;
}

body .u-w395p {
  width: 395%;
}

body .u-w400p {
  width: 400%;
}

body .u-w405p {
  width: 405%;
}

body .u-w410p {
  width: 410%;
}

body .u-w415p {
  width: 415%;
}

body .u-w420p {
  width: 420%;
}

body .u-w425p {
  width: 425%;
}

body .u-w430p {
  width: 430%;
}

body .u-w435p {
  width: 435%;
}

body .u-w440p {
  width: 440%;
}

body .u-w445p {
  width: 445%;
}

body .u-w450p {
  width: 450%;
}

body .u-w455p {
  width: 455%;
}

body .u-w460p {
  width: 460%;
}

body .u-w465p {
  width: 465%;
}

body .u-w470p {
  width: 470%;
}

body .u-w475p {
  width: 475%;
}

body .u-w480p {
  width: 480%;
}

body .u-w485p {
  width: 485%;
}

body .u-w490p {
  width: 490%;
}

body .u-w495p {
  width: 495%;
}

body .u-w500p {
  width: 500%;
}

body .u-w505p {
  width: 505%;
}

body .u-w510p {
  width: 510%;
}

body .u-w515p {
  width: 515%;
}

body .u-w520p {
  width: 520%;
}

body .u-w525p {
  width: 525%;
}

body .u-w530p {
  width: 530%;
}

body .u-w535p {
  width: 535%;
}

body .u-w540p {
  width: 540%;
}

body .u-w545p {
  width: 545%;
}

body .u-w550p {
  width: 550%;
}

body .u-w555p {
  width: 555%;
}

body .u-w560p {
  width: 560%;
}

body .u-w565p {
  width: 565%;
}

body .u-w570p {
  width: 570%;
}

body .u-w575p {
  width: 575%;
}

body .u-w580p {
  width: 580%;
}

body .u-w585p {
  width: 585%;
}

body .u-w590p {
  width: 590%;
}

body .u-w595p {
  width: 595%;
}

body .u-w600p {
  width: 600%;
}

body .u-w605p {
  width: 605%;
}

body .u-w610p {
  width: 610%;
}

body .u-w615p {
  width: 615%;
}

body .u-w620p {
  width: 620%;
}

body .u-w625p {
  width: 625%;
}

body .u-w630p {
  width: 630%;
}

body .u-w635p {
  width: 635%;
}

body .u-w640p {
  width: 640%;
}

body .u-w645p {
  width: 645%;
}

body .u-w650p {
  width: 650%;
}

body .u-w655p {
  width: 655%;
}

body .u-w660p {
  width: 660%;
}

body .u-w665p {
  width: 665%;
}

body .u-w670p {
  width: 670%;
}

body .u-w675p {
  width: 675%;
}

body .u-w680p {
  width: 680%;
}

body .u-w685p {
  width: 685%;
}

body .u-w690p {
  width: 690%;
}

body .u-w695p {
  width: 695%;
}

body .u-w700p {
  width: 700%;
}

/* ***************************
br
*************************** */
.u-spBr {
  display: none;
}
@media (max-width: 767px) {
  .u-spBr {
    display: block;
  }
}
